.Boost{
    height:250px;
    background-image: url('../../public/images/bg-boost-desktop.svg');
    background-size: cover;
    background-color: hsl(257, 27%, 26%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.boost-heading{
    color:white;
    font-size: 40px;
    font-weight: bolder;
}
.boost-btn{
    background-color: hsl(180, 66%, 49%);
    margin-top: 40px;
    border:none;
    width:150px;
    height:35px;
    color:white;
    border-radius: 25px;
    transition:1.5s;
}
.boost-btn:hover{
    transform:scale(1.1);
    cursor:pointer;
}

@media screen and (max-width:450px) {
    .boost-heading{
        font-size: 30px;
    }
}